<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size-md="6" size-sm="12">
        
        <!-- Contenedor con fondo de la tarjeta y logo dentro -->
        <div class="card">
          <!-- LOGO dentro de la tarjeta -->
          <div class="logo-container">
            <img src="assets/logoArt.png" alt="App Logo">
          </div>

          <!-- Formulario dentro de la tarjeta -->
          <form (ngSubmit)="login()">
            <div class="input-container">
              <ion-item class="custom-input">
                <ion-label position="floating">Email</ion-label>
                <ion-input [(ngModel)]="email" name="email" type="email" required></ion-input>
              </ion-item>

              <ion-item class="custom-input">
                <ion-label position="floating">Password</ion-label>
                <ion-input [(ngModel)]="password" name="password" type="password" required></ion-input>
              </ion-item>

              <!-- Botón de login con el estilo personalizado -->
              <button type="submit">Login</button>
            </div>
          </form>

          <p class="register-link">
            ¿No tienes cuenta?  
            <a [routerLink]="['/register']">Regístrate</a>
          </p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
