.image-preview {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  
    .preview-img {
      max-width: 100%;
      height: auto;
      border-radius: 10px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
  }
  