<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Mi Perfil</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="volver()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="profile-container">
    <!-- Foto de perfil -->
    <div class="photo-container">
      <img [src]="fotoPerfil || 'assets/default-profile.png'" alt="Foto de perfil" class="foto-perfil" />
      <ion-button (click)="seleccionarFoto()">Subir foto</ion-button>
      <ion-button (click)="tomarFoto()">Tomar foto</ion-button>
      <ion-button expand="block" color="success" *ngIf="fotoNueva" (click)="guardarFoto()">
        Guardar foto
      </ion-button>
    </div>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Información del Usuario</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-item>
          <ion-label position="stacked">Nombre</ion-label>
          <ion-input [(ngModel)]="nombre" [readonly]="!isEditing"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Username</ion-label>
          <ion-input [(ngModel)]="username" [readonly]="!isEditing"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Email</ion-label>
          <ion-input [value]="email" readonly></ion-input>
        </ion-item>

        <div class="botones">
          <button class="Btn" *ngIf="!isEditing" (click)="habilitarEdicion()">
            Editar
            <svg class="svg" viewBox="0 0 512 512">
              <path d="..." />
            </svg>
          </button>

          <button *ngIf="isEditing" (click)="guardarCambios()">Guardar Cambios</button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
