/* src/app/home/home.page.scss */
.container {
  text-align: center;
  padding: 20px;
}

ion-footer {
  background-color: #f8f8f8; /* Color de fondo de la barra inferior */
  padding: 10px 0;
}

ion-tab-button {
  --color-selected: #4CAF50; /* Cambia el color del icono seleccionado */
}
